version: "3.9"

services:
  streamlit-ui:
    image: ghcr.io/ozgun1234/fastapichatbotfrontend:fileupload
    container_name: ucanble_container_91_frontend
    expose:
      - "8501"
    networks:
      - ucanblehub_uh-network
    volumes:
      - ucanblehub_processed-images:/app/storage
    environment:
      BACKEND_URL: https://zone.ucanblehub.com/api/ai-ui-proxy/ucanble_container_91_backend
      STREAMLIT_SERVER_PORT: 8501
      STREAMLIT_SERVER_HEADLESS: true
      STREAMLIT_BROWSER_GATHER_USAGE_STATS: false

  backend-api:
    image: ghcr.io/ozgun1234/fastapichatbotbackend:fileupload
    container_name: ucanble_container_91_backend
    expose:
      - "8002"
    networks:
      - ucanblehub_uh-network
    volumes:
      - ucanblehub_processed-images:/app/storage
    command: uvicorn main:app --host 0.0.0.0 --port 8002

networks:
  ucanblehub_uh-network:
    external: true

volumes:
  ucanblehub_processed-images:
    external: true